<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.huawei.user_admin.mapper.AdminMapper">
    <resultMap id="adminMap" type="com.huawei.user_admin.domain.Admin">
        <id column="admin_id" property="admin_id"/>
        <result column="admin_code" property="admin_code"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="enrolldate" property="enrolldate"/>
    </resultMap>

    <resultMap id="adminInfoMap" type="com.huawei.user_admin.domain.Admin">
        <id column="admin_id" property="admin_id"/>
        <result column="admin_code" property="admin_code"/>
        <result column="password" property="password"/>
        <result column="aname" property="name"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="enrolldate" property="enrolldate"/>
    </resultMap>
    <resultMap id="admin_role_module" type="com.huawei.user_admin.domain.Admin"
               extends="adminInfoMap">
        <collection property="roles"
                    ofType="com.huawei.user_admin.domain.Role">
            <id column="role_id" property="role_id"/>
            <result column="rname" property="name"/>
            <collection property="modules"
                        ofType="com.huawei.user_admin.domain.Module">
                <id column="module_id" property="module_id"/>
                <result column="mname" property="name"/>
            </collection>
        </collection>
    </resultMap>
    <resultMap id="admin_role" type="com.huawei.user_admin.domain.Admin"
               extends="adminInfoMap">
        <collection property="roles"
                    ofType="com.huawei.user_admin.domain.Role">
            <id column="role_id" property="role_id"/>
            <result column="rname" property="name"/>
        </collection>
    </resultMap>
    <resultMap id="role_module" type="com.huawei.user_admin.domain.Role">
        <id column="role_id" property="role_id"/>
        <result column="rname" property="name"/>
        <collection property="modules"
                    ofType="com.huawei.user_admin.domain.Module">
            <id column="module_id" property="module_id"/>
            <result column="mname" property="name"/>
        </collection>

    </resultMap>

    <sql id="adminSql">
        admin_info.admin_id,
        admin_info.admin_code,
        admin_info.password,
        admin_info.name aname,
        admin_info.telephone,
        admin_info.email,
        admin_info.enrolldate
    </sql>

    <sql id="roleSql">
        role_info.role_id,
        role_info.name rname
    </sql>

    <sql id="moduleSql">
        module_info.module_id,
        module_info.name mname
    </sql>

    <select id="findByAdmin"
            parameterType="com.huawei.user_admin.domain.Admin"
            resultMap="adminMap">
        SELECT * FROM admin_info WHERE admin_code = #{admin_code} AND password = #{password}
    </select>

    <select id="findAdminToInfo"
            parameterType="int"
            resultMap="admin_role_module">
        SELECT
        <include refid="adminSql"/>
        ,
        <include refid="roleSql"/>
        ,
        <include refid="moduleSql"/>
        FROM admin_info
        LEFT JOIN admin_role
        ON admin_info.admin_id = admin_role.admin_id
        LEFT JOIN role_info
        ON role_info.role_id = admin_role.role_id
        LEFT JOIN role_module
        ON role_info.role_id = role_module.role_id
        LEFT JOIN module_info
        ON module_info.module_id = role_module.module_id

        WHERE admin_info.admin_id = #{value}
    </select>

    <select id="findAllAdminToInfo"
            parameterType="com.huawei.base.utils.PageBean"
            resultMap="admin_role">
        SELECT
        <include refid="adminSql"/>
        ,
        <include refid="roleSql"/>

        FROM (SELECT * FROM admin_info limit #{pageSize} offset #{startIndex}) admin_info
        LEFT JOIN admin_role
        ON admin_info.admin_id = admin_role.admin_id
        LEFT JOIN role_info
        ON role_info.role_id = admin_role.role_id
    </select>

    <select id="findRoleInfo"
            parameterType="com.huawei.base.utils.PageBean"
            resultMap="role_module">
        SELECT
        <include refid="roleSql"/>
        ,
        <include refid="moduleSql"/>
        FROM (SELECT * FROM role_info limit #{pageSize} offset #{startIndex}) role_info
        LEFT JOIN role_module
        ON role_info.role_id = role_module.role_id
        LEFT JOIN module_info
        ON module_info.module_id = role_module.module_id

    </select>

    <insert id="addRole"
            parameterType="java.lang.String">
        INSERT INTO role_info (name) VALUES (#{value})
    </insert>

    <select id="findRule"
            parameterType="java.lang.String"
            resultType="com.huawei.user_admin.domain.Role">
        SELECT * FROM role_info WHERE name = #{value}
    </select>

    <insert id="addRule_module"
            parameterType="com.huawei.user_admin.domain.Module">
        INSERT INTO role_module VALUES (#{role_id},#{module_id})
    </insert>

    <delete id="deleteRole"
            parameterType="int">
        DELETE FROM role_info WHERE role_id=#{value}
    </delete>

    <select id="findRoleById"
            parameterType="int"
            resultMap="role_module">
        SELECT
        <include refid="roleSql"/>
        ,
        <include refid="moduleSql"/>
        FROM role_info
        LEFT JOIN role_module
        ON role_info.role_id = role_module.role_id
        LEFT JOIN module_info
        ON module_info.module_id = role_module.module_id
        WHERE role_info.role_id = #{value}
    </select>

    <update id="updateRole"
            parameterType="com.huawei.user_admin.domain.Role">
        UPDATE role_info SET name=#{name} WHERE role_id=#{role_id}
    </update>

    <delete id="deleteRole_module"
            parameterType="int">
        DELETE FROM role_module WHERE role_id=#{value}
    </delete>

    <select id="findCount"
            resultType="int">
        SELECT COUNT(*) FROM role_info
    </select>

    <select id="findAdminCount"
            resultType="int">
        SELECT count(*) FROM admin_info
    </select>

    <select id="findAllRole"
            resultType="com.huawei.user_admin.domain.Role">
        SELECT * FROM role_info
    </select>

    <insert id="addAdmin"
            parameterType="com.huawei.user_admin.domain.Admin"
            keyProperty="admin_id"
            useGeneratedKeys="true">
        INSERT INTO admin_info (admin_code,password,name,telephone,email,enrolldate)
        VALUES (#{admin_code},#{password},#{name},#{telephone},#{email},#{enrolldate})
    </insert>

    <insert id="addAdmin_rule"
            parameterType="com.huawei.user_admin.domain.Role">
        INSERT INTO admin_role VALUES (#{admin_id},#{role_id})
    </insert>

    <select id="findByAdmin_code"
            parameterType="java.lang.String"
            resultType="com.huawei.user_admin.domain.Admin">
        SELECT * FROM admin_info WHERE admin_code=#{value}
    </select>

    <delete id="deleteAdmin_rule"
            parameterType="int">
        DELETE FROM admin_role WHERE admin_id=#{value}
    </delete>

    <delete id="deleteAdmin"
            parameterType="int">
        DELETE FROM admin_info WHERE admin_id=#{value}
    </delete>

    <select id="findAdminById"
            parameterType="int"
            resultMap="admin_role">
        SELECT
        <include refid="adminSql"/>
        ,
        <include refid="roleSql"/>

        FROM admin_info
        LEFT JOIN admin_role
        ON admin_info.admin_id = admin_role.admin_id
        LEFT JOIN role_info
        ON role_info.role_id = admin_role.role_id
        WHERE admin_info.admin_id=#{value}
    </select>

    <update id="updateAdmin"
            parameterType="com.huawei.user_admin.domain.Admin">
        UPDATE admin_info SET admin_code=#{admin_code},name=#{name},telephone=#{telephone},email=#{email}
        WHERE admin_id=#{admin_id}
    </update>


    <select id="findCountByCQ"
            parameterType="com.huawei.base.utils.PageBean"
            resultType="int">
        SELECT
        count(*)
        FROM (
        SELECT
        <include refid="adminSql"/>
        ,
        <include refid="roleSql"/>
        ,
        <include refid="moduleSql"/>
        FROM admin_info
        LEFT JOIN admin_role
        ON admin_info.admin_id = admin_role.admin_id
        LEFT JOIN role_info
        ON role_info.role_id = admin_role.role_id
        LEFT JOIN role_module
        ON role_info.role_id = role_module.role_id
        LEFT JOIN module_info
        ON module_info.module_id = role_module.module_id
        <where>
            1=1
            <if test="id != -1">
                AND module_info.module_id=#{id}
            </if>
            <if test="condition != null and condition.length() > 0">
                AND role_info.name LIKE "%"#{condition}"%"
            </if>
        </where>
        GROUP BY admin_info.admin_id
        ) admin_role_module
    </select>

    <select id="findAdminByCQ"
            parameterType="com.huawei.base.utils.PageBean"
            resultMap="admin_role_module">

        SELECT
        <include refid="adminSql"/>
        ,
        <include refid="roleSql"/>
        ,
        <include refid="moduleSql"/>
        FROM
        (SELECT
        admin_info.*
        FROM
        admin_info
        LEFT JOIN admin_role
        ON admin_info.admin_id = admin_role.admin_id
        LEFT JOIN role_info
        ON role_info.role_id = admin_role.role_id
        LEFT JOIN role_module
        ON role_info.role_id = role_module.role_id
        LEFT JOIN module_info
        ON module_info.module_id = role_module.module_id
        <where>
            1=1
            <if test="id != -1">
                AND module_info.module_id=#{id}
            </if>
            <if test="condition != null and condition.length() > 0">
                AND role_info.name LIKE "%"#{condition}"%"
            </if>
        </where>
        GROUP BY admin_info.admin_id
        limit #{pageSize} offset #{startIndex}
        )
        admin_info
        LEFT JOIN admin_role
        ON admin_info.admin_id = admin_role.admin_id
        LEFT JOIN role_info
        ON role_info.role_id = admin_role.role_id
        LEFT JOIN role_module
        ON role_info.role_id = role_module.role_id
        LEFT JOIN module_info
        ON module_info.module_id = role_module.module_id
    </select>

    <update id="resetPwd"
            parameterType="com.huawei.user_admin.domain.Admin">
        UPDATE admin_info SET password = #{password} WHERE admin_id=#{admin_id}
    </update>

    <update id="modi_user_info"
            parameterType="com.huawei.user_admin.domain.Admin">
        UPDATE admin_info SET name=#{name},telephone=#{telephone},email=#{email}
        WHERE admin_id=#{admin_id}
    </update>

    <update id="modi_pwd"
            parameterType="com.huawei.user_admin.domain.Admin">
        UPDATE admin_info SET password=#{password1} WHERE admin_id=#{admin_id}
    </update>
    <select id="checkAdmin"
            parameterType="java.lang.String"
            resultType="com.huawei.user_admin.domain.Admin">
        SELECT * FROM admin_info WHERE admin_code=#{admin_code}
    </select>

    <select id="findRoleByName"
            parameterType="java.lang.String"
            resultType="com.huawei.user_admin.domain.Role">
        SELECT * FROM role_info WHERE name=#{value}
    </select>

    <select id="findAllModule"
            resultType="com.huawei.user_admin.domain.Module">
        SELECT * FROM module_info
    </select>

    <select id="findAdmin_role"
            parameterType="int"
            resultType="int">
        SELECT COUNT(*) FROM admin_role WHERE role_id=#{value}
    </select>
</mapper>